$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
$fa-font-path: "/bower_components/font-awesome/fonts";

// @import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);

// $icon-font-path: '../fonts/';
$body-bg: #e4e7ec;

$font-family-base: "Open Sans", sans-serif;
$headings-color: #111111;
$headings-font-family: Avenir, sans-serif;
$headings-font-weight: bold;

$brand-success: #22ae5f;
$brand-primary: #1d7cf4;
$brand-danger: #b30015;
$brand-warning: #ffd66a;

$text-muted: #90939a;
$link-color: black;

$navbar-default-link-active-bg: #f7f7f7;
$navbar-default-link-color: #848484;
$navbar-default-bg: white;
$navbar-default-border: #e3e9ec;

$navbar-default-brand-color: #333333;
$navbar-default-brand-hover-color: #ffe939;
$navbar-default-brand-hover-bg: #333333;

$btn-success-bg: $brand-success;
$btn-success-border: darken($btn-success-bg, 3%);
$btn-primary-bg: $brand-primary;
$btn-primary-border: darken($btn-primary-bg, 3%);

$jumbotron-padding: 16px;
$jumbotron-bg: #f4f6f8;

$alert-border-radius: 0;
$input-border-radius: 0;

$alert-success-text: white;
$alert-success-bg: #60c060;
$alert-success-border: darken($alert-success-bg, 3%);

$alert-danger-text: white;
$alert-danger-bg: $brand-danger;
$alert-danger-border: darken($alert-danger-bg, 3%);

$alert-info-bg: #e5f7fd;
$alert-info-border: #bcf8f3;
$alert-info-text: #25484e;

// custom
$side-bar-bg: white;
$side-bar-border: #d5d5d5;

$main-content-color: white;
$big-title-margin: 40px;
$small-title-margin: 20px;

$big-content-margin: $big-title-margin - 10px;
$content-padding: 20px;

@import "sass-bootstrap/lib/bootstrap";
@import "font-awesome/scss/font-awesome";

body {
  padding-bottom: 20px;
  padding-top: 30px;
}

em {
  font-style: normal;
  text-decoration: underline;
}

.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px 0px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: $side-bar-bg;
    border-right: 1px solid $side-bar-border;
    .nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
      color: #555;
      background-color: $body-bg;
      right: -1px;
    }
  }
}

.main {
  // padding: 20px;
  .title-header {
    border-bottom: 1px solid #DAE2E4;
    background-color: #F4F6F8;
    margin-left: -$small-title-margin;
    margin-right: -$small-title-margin;
    padding: 10px 20px 0px;
  }
  .content {
    background-color: $main-content-color;
    min-height: 500px;
  }
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
    .title-header {
      margin-left: -$big-title-margin;
      margin-right: -$big-title-margin;
    }
    .content {
      margin-left: -$big-content-margin;
      margin-right: -$big-content-margin;
      padding: $content-padding;
      background-color: $main-content-color;
    }
  }
}

.alphabet {
  cursor: pointer;
  font-size: 22px;
  text-align: center;
  li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    &:hover {
      color: $brand-primary;
    }
  }
}

.genres {
  cursor: pointer;
  li {
    margin-right: 5px;
    @extend .label;
    @extend .label-default;
    &:active {
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.25);
    }
  }
}

.jumbotron {
  margin-top: -20px;
  border-bottom: 1px solid #dae2e4;
}

.media-object {
  max-width: 200px;
  margin-bottom: 10px;
}

.episode {
  border-left: 5px solid #111;
  padding-left: 10px;
}

.alert {
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
}

.alert.top-right {
  position: fixed;
  top: 50px;
  right: 0;
  margin: 20px;
  z-index: 1050;
  outline: none;
  .close {
    padding-left: 10px;
  }
}

.btn {
  border-radius: 2px;
}

.center-form {
  width: 330px;
  margin: 10% auto;
  input {
    border-radius: 0;
  }
}

.search {
  color: #4f4f4f;
  font-weight: 300;
  font-size: 1.5em;
  padding: 7px;
  margin-top: -10px;
  border: 0;
  background-color: transparent;
  outline: none;
  -webkit-appearance: none;
  &:focus {
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
  }
}

.panel {
  border-color: #cfd9D7;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.panel-default > .panel-heading {
  color: #444;
  border-color: #cfd9db;
  font-weight: bold;
  font-size: 85%;
  text-transform: uppercase;
  background-color: #f6f6f6;
}

.label {
  display: inline-block;
  margin-bottom: 5px;
  padding: 4px 8px;
  border: 0;
  border-radius: 3px;
  font-size: 12px;
  transition: 0.1s all;
  -webkit-font-smoothing: antialiased;
}

.label-default {
  background-color: #e4e7ec;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
  color: #90939a;
  &:hover {
    background-color: #90939a;
    color: #f4f6f8;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  }
}

.navbar {
  box-shadow: 0 3px 2px -3px rgba(0, 0, 0, 0.1);
}

.navbar-header {
  float: left;
  padding-left: 15px;
}

.navbar-brand {
  background-color: #ffe939;
  transition: 0.25s all;
  margin-left: -15px;
}

.navbar-nav {
  float: left;
  margin: 0;
  > li {
    float: left;
    > a {
      padding: 15px;
    }
  }
}

.ax-grid-action-1 {
  width: 16px;
}

.ax-grid-action-2 {
  width: 50px;
}

.table .table {
  background-color: white;
}