<div class="title-header">
  <h2>Employees</h2>
</div>
<div class="content">
  <ui-view></ui-view>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th class="ax-grid-action-1"> # </th>
        <th>Name</th>
        <th>Age</th>
        <th class="ax-grid-action-1"s></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="employee in employees">
        <td> {{ $index + 1 }}. </td>
        <td> {{ employee.name }} </td>
        <td> {{ employee.age }} </td>
        <td> <a href="" ng-click="edit(employee)"> <i class="glyphicon glyphicon-pencil"></i> </a> </td>
      </tr>
    </tbody>
  </table>
</div>